.navigation__container {
  grid-column: 2;
}

.navigation__container ul {
  margin: 0rem;
  padding: 0rem;
  list-style-type: none;
}

.navigation__container li {
  display: block;
  float: left;
  padding: 0.1rem;
  margin: 0.2rem;
  border: 1px solid black;
  border-radius: 5%;
  color:black;
  font-weight: bold;
  cursor: pointer;
  width: 6rem;
  font-size: 90%;
  text-align: center;
  background-color: #e8e9eb;
  box-shadow: 2px 3px 2px rgba(78, 78, 78, 0.3);
}

.navigation__container li a {
  text-decoration: none;
  color:black;
}
.navigation__container li a.navlink--current {
  text-decoration: none;
  color:#f09d51;
  text-shadow: black 2px 1px 1px;
  font-size: 120%;
}