.wheel__spoke {
  width: 20rem;
}

.spoke__data {
  display: grid;
  grid-template-columns: 12rem auto;
}

.spoke__image {
  margin: 0 auto;
}

.spoke__image img {
  image-orientation: from-image;
  object-fit: cover;
  max-height: 12rem;
  max-width: 12rem;
}

.spoke__uploadlink {
  text-align: center;
}

.spoke__image_data {
  display: grid;
}