.spoke--unverified {
  background: linear-gradient(45deg, rgba(255,255,255,0) 87%, rgba(255,255,0,0.4) 87%);
}

.spoke--verified {
  background: linear-gradient(45deg, rgba(255,255,255,0) 87%, rgba(0,255,0,0.4) 87%);
}

.verified_spoke {
  fill: green;
}

.unverified_spoke {
  fill: yellow;
}

.spot_icon--clickable {
  cursor: pointer;
}

.wheel__spot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5%;
  background-color: #e0dfd5;
}

.wheel_spot__name {
  cursor: pointer;
  text-align: center;
}

.wheel_spot__spoke_controls {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-auto-rows: 2rem;
}

.wheel_spot__icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  padding: 2em;
}