.modal__container {
  display: grid;
  grid-template-rows:  minmax(min-content, max-content) auto;
  position: fixed;
  width: 25rem;
  top: 5rem;
  left: calc(50% - 15rem);
  background-color: white;
  border: 1px solid grey;
  border-radius: 2%;
  box-shadow: 5px 10px 2px rgba(78, 78, 78, 0.3);
  z-index: var(--above-modal-backdrop-z);
}

.modal__header {
  
  background-color: #e0dfd5;
  border: 2px solid black;
  border-radius: 2%;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
	width: 100vw;
  height: 100vh;
  background-color: rgba(78, 78, 78, 0.3);
  z-index: var(--above-leaflet-z);
}

.modal__footer {
  display: grid;
}

.modal__footer__button {
  display: block;
  width: 90%;
  height: 2rem;
  margin: 0.4rem;
  justify-self: center;
}