.wheels {
  display: grid;
}

.wheel {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.wheel__tripdata {
  display: grid;

}

.wheel h2 {
  cursor: pointer;
  grid-column: span 2;
}

.wheel__tripdata__map {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 7px solid black;
  overflow: hidden;
  margin: 10px;
}

.wheel__spots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 2rem 1rem;
}