.wheels {
  display: grid;
}

.wheel {
  display: grid;
  grid-template-columns: 12rem 2fr;
  /*grid-template-rows: 4rem 12rem auto;*/
}

.wheel__tripdata {
  display: grid;
  grid-template-rows: 12rem;
}
.wheel__open {
  fill: white;
}


.wheel h2 {
  cursor: pointer;
  grid-column: span 2;
  margin-top: 0;
}

.wheel__tripdata__map {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  border: 0.7rem solid black;
  overflow: hidden;
  margin: 10px;
}

.wheel__spots {
  display: grid;
  grid-column: 2;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem 0.5rem;
}

.wheel__results {
  display: grid;
  grid-column: 1;
  height: 10rem
}

@media screen and (max-width: 600px) {
  
.wheel__spots {
  grid-template-columns: 1fr;
  }
  
.wheel {
  grid-template-columns: 1fr;
}
}