.trip_riders__participant {
  display: grid;
  grid-template-columns: 5rem 1fr 1fr 2rem;
  grid-auto-rows: 1fr;
  align-items: center;
}

.participant__image img {
  height: 5rem;
}

.participant__image {
  border: 1px solid black;
  border-radius: 5%;
}

.participant__name {
  margin: 2rem;
}

.participant__button {
  cursor: pointer;
}

.participant__spokes {
  grid-column: span 4;
}

.participant__button--denied {
  fill: red;
}

.participant__button--approved {
  fill: green;
}
