.spotlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem 0.5rem;
}

@media screen and (max-width: 600px) {  
  .spotlist {
    grid-template-columns: 1fr;
  }
}