.spot__map {
  width: 20em;
  height: 15rem;
}

.spot__image img {
  width: 20em;
  width: 20rem;
}

.spot__directions {
  text-align: center;
}

.spot__directions button a {
  text-decoration: none;
  color: black;
}