.spot__map {
  width: 18rem;
  height: 15rem;
}

.spot__image {
  text-align: center;
}

.spot__image img {
  object-fit: cover;
  max-height: 14rem;
  max-width: 18rem;
}

.spot__directions {
  text-align: center;
}

.spot__directions button a {
  text-decoration: none;
  color: black;
}