.trip__name {
  grid-column: span 2;

}
.trip__map {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 1rem solid black;
  overflow: hidden;
  margin: 10px;
}

.trip__data {
  display: grid;
}