:root {
  --above-leaflet-z: 701;
  --above-modal-backdrop-z: 702;
}

.app {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 3em 4fr;
  /* elnevezi a sorokat is "header-start / header-end": header kezdetétől a végéig*/
  grid-template-areas:  
    "header"
    "navbar"
    "main";
    justify-items: center;
}

.app__header {
  grid-area: header;
  align-self: center;
  cursor: default;
}

.app__navbar {
  grid-area: navbar;
  display: grid;
}

.app__main {
  grid-area: main;
  width: 100vw;
  overflow-y: scroll;
}

.app__footer {
  justify-self: left;
  grid-area: footer;
}

.leaflet-container {
  height: 100%
}