.app {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 8em minmax(600px, 1fr);
  grid-template-areas:  /* elnevezi a sorokat is "header-start / header-end": header kezdetétől a végéig*/
    "header header"
    "navbar main"
    "navbar main"
    "footer footer";
    justify-items: center;
}

@media (orientation: portrait) { 
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-areas:  /* elnevezi a sorokat is "header-start / header-end": header kezdetétől a végéig*/
      "logo header"
      "navbar"
      "main"
      "footer";
  }
}

.app__header {
  grid-area: header;
  align-self: center;
  cursor: default;
}

.app__navbar {
  grid-area: navbar;
}

.app__main {
  grid-area: main;
  padding: 2em;
}

.app__footer {
  justify-self: left;
  grid-area: footer;
}

.leaflet-container {
  height: 100%
}