:root {
  --above-leaflet-z: 701;
  --above-modal-backdrop-z: 702;
}

* { box-sizing: border-box; 
  }

.app {
  display: grid;
  height: 100vh;
  width: 100vw;
  
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 10fr;
  /* elnevezi a sorokat is "header-start / header-end": header kezdetétől a végéig*/
  grid-template-areas:  
    "header"
    "navbar"
    "main";
  background-color: #e8e9eb;
}

.app__header {
  width: 100vw;
  grid-area: header;
  display: grid;
  cursor: default;
  justify-items: center;
  background-color: #313638;
  color: #e8e9eb;
  font-size: 120%;
}

.app__navbar {
  grid-area: navbar;
  width: 100%;
  display: grid;
  background-color: #e0dfd5;
  justify-items: center;
  border-top: 1rem solid #313638;
}

.app__main {
  width: 100%;
  grid-area: main;
  background-color: #e8e9eb;
  overflow-x: hidden;
}

.leaflet-container {
  height: 100%
}

button {
  width: 8rem;
  height: 2rem;
  background-color: #f09d51;
  border-radius: 5%;
  border: 1px solid black;
  cursor: pointer;
}

h2 {
  background-color: #313638;
  color: #e8e9eb;
}
h1 {
  text-align: center;
}